
/*input form*/
#form{
	padding: 25px 25px;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}
/*calculate button*/
#sbmt{
	width:100%;
	padding: 7px 7px;
	border: none;
}
/*div for holding whole timer*/
#timer{
	margin-top: 50px;
	font-size: 50px;
	text-align: center;
}
/*font*/
.font-raleway{
	font-family: "Raleway",sans-serif;
}
/*div for holding only number and text (days, hours, months, seconds)*/
.number-div{
	display: block;
	padding: 10px 10px;
	font-size: 120px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #262626;
}
/*footer*/
#footer{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
/*links in footer*/
#footer a{
	color: #262626;
	font-size: 17px;
}
#footer a:hover{
	text-decoration: underline;
}
/*all input fields*/
input{
	outline: none;
	outline-width: 0px;
	width: 100%;
	border: none;
	border-bottom: 1px solid black;
	margin-bottom: 15px;
}
/*when columns are one below another, add margin-bottom to every so they do not touch and lower padding in number div*/
@media screen and (max-width: 770px){
	.number-div{
		padding: 5px 5px;
	}
	.number-col{
		margin:7px 7px;
	}
}
/*add padding to body on bottom, for the footer*/
body{
	position: relative;
	padding-bottom: 270px;
}
/*congrats div*/
#congrats-holder{
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
}
#congrats-div{
	background-color: white;
	border-radius: 10px;
	padding: 25px 25px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}